@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700');

* {
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0;
    background-color: white;
    font-family: 'Roboto Mono', monospace;
}

li {
  list-style: none;
}

/* Photo Gallery */
#search-box {
    margin: 0 auto;
    width: 50%;
    padding: 2rem;
    margin-top: 10px;
    text-align: center;
}

#mySearch {
    height: 5px;
    width: 100%;
    padding: 21px;
    border: 1px solid rgb(216, 215, 215);
    border-radius: 7px;
}

.images {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

img {
    cursor: pointer;
    width: 250px;
    height: 200px;
    transition: 1s;
    margin: 1.3em;
}

img:focus {
    margin: 0;
}

img:hover {
    transform: scale(1.1);
}

.lb-data .lb-details {
  margin-top: 1.1em;
  margin-left: 4em;
  margin-right: auto;
  font-weight: 700;
  line-height: 1.5em;
  text-align: center; 
}


/* === Media Queries === */

@media (min-width: 420px) {
    .lb-nav a.lb-next {
      display: inline;
      position: fixed;
      right: 10%;
      top: -300px;
    }
    .lb-nav a.lb-prev {
    display: inline;
      position: fixed;
      left: 10%;
      top: -300px;
    }
    .searchbox {
        width: 40%;
        padding: 2rem;
        margin: 0 auto;
        text-align: center;
    }
  }
  
  @media (min-width: 768px) {
    .lb-nav a.lb-next {
      position: fixed;
      right: 10%;
      top: -200px;
    }
    .lb-nav a.lb-prev {
      position: fixed;
      left: 10%;
      top: -200px;
    }

  }
  
  @media (min-width: 1024px) {
    .lb-nav a.lb-next {
      position: fixed;
      margin-right: 80px;
      right: 10%;
      top: -20px;
    }
    .lb-nav a.lb-prev {
      position: fixed;
      margin-left: 80px;
      left: 10%;
      top: -20px;
    }
  }
